.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto 32px;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width:1124px) {
  .lead__subtitle {
    margin: 0 auto 24px;
  }
}


@media screen and (max-width: 568px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 8px;
    max-width: 288px;
  }
}
